.git
.github
.githooks/*
!.githooks/
!.githooks/install-lore-coding-hooks.mjs
.next
.data
node_modules
reports
coverage
build
out
incoming-images
.DS_Store
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
.vercel
playwright-report
test-results
